html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #004c77;
  line-height: 1.5;
  color: #333;
}

p {
  pointer-events: none;
  font-size: 1.2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-s {
  max-width: 800px;
  margin: 0 auto;
}

.title-1 {
  font-size: 3rem;
  font-family: "Noto Sans TC", sans-serif;
}

.title-2 {
  font-size: 2.5rem;
  font-family: "Noto Sans TC", sans-serif;
}

.title-3 {
  font-size: 1.5rem;
}

.text-bold {
  font-weight: 900;
}

.text-blue {
  color: #004c77;
}

.text-white {
  color: #fafafa;
}

.text-yellow {
  color: #f9d555;
}

.text-c {
  text-align: center;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}

[data-aos][data-aos][data-aos-duration="50"],
body[data-aos-duration="50"] [data-aos] {
  -webkit-transition-duration: 50ms;
          transition-duration: 50ms;
}

[data-aos][data-aos][data-aos-delay="50"],
body[data-aos-delay="50"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="50"].aos-animate,
body[data-aos-delay="50"] [data-aos].aos-animate {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

[data-aos][data-aos][data-aos-duration="100"],
body[data-aos-duration="100"] [data-aos] {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

[data-aos][data-aos][data-aos-delay="100"],
body[data-aos-delay="100"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="100"].aos-animate,
body[data-aos-delay="100"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

[data-aos][data-aos][data-aos-duration="150"],
body[data-aos-duration="150"] [data-aos] {
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
}

[data-aos][data-aos][data-aos-delay="150"],
body[data-aos-delay="150"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="150"].aos-animate,
body[data-aos-delay="150"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

[data-aos][data-aos][data-aos-duration="200"],
body[data-aos-duration="200"] [data-aos] {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

[data-aos][data-aos][data-aos-delay="200"],
body[data-aos-delay="200"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="200"].aos-animate,
body[data-aos-delay="200"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

[data-aos][data-aos][data-aos-duration="250"],
body[data-aos-duration="250"] [data-aos] {
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

[data-aos][data-aos][data-aos-delay="250"],
body[data-aos-delay="250"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="250"].aos-animate,
body[data-aos-delay="250"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

[data-aos][data-aos][data-aos-duration="300"],
body[data-aos-duration="300"] [data-aos] {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

[data-aos][data-aos][data-aos-delay="300"],
body[data-aos-delay="300"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="300"].aos-animate,
body[data-aos-delay="300"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

[data-aos][data-aos][data-aos-duration="350"],
body[data-aos-duration="350"] [data-aos] {
  -webkit-transition-duration: 0.35s;
          transition-duration: 0.35s;
}

[data-aos][data-aos][data-aos-delay="350"],
body[data-aos-delay="350"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="350"].aos-animate,
body[data-aos-delay="350"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

[data-aos][data-aos][data-aos-delay="400"],
body[data-aos-delay="400"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="400"].aos-animate,
body[data-aos-delay="400"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

[data-aos][data-aos][data-aos-duration="450"],
body[data-aos-duration="450"] [data-aos] {
  -webkit-transition-duration: 0.45s;
          transition-duration: 0.45s;
}

[data-aos][data-aos][data-aos-delay="450"],
body[data-aos-delay="450"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="450"].aos-animate,
body[data-aos-delay="450"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

[data-aos][data-aos][data-aos-duration="500"],
body[data-aos-duration="500"] [data-aos] {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

[data-aos][data-aos][data-aos-delay="500"],
body[data-aos-delay="500"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="500"].aos-animate,
body[data-aos-delay="500"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

[data-aos][data-aos][data-aos-duration="550"],
body[data-aos-duration="550"] [data-aos] {
  -webkit-transition-duration: 0.55s;
          transition-duration: 0.55s;
}

[data-aos][data-aos][data-aos-delay="550"],
body[data-aos-delay="550"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="550"].aos-animate,
body[data-aos-delay="550"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.55s;
          transition-delay: 0.55s;
}

[data-aos][data-aos][data-aos-duration="600"],
body[data-aos-duration="600"] [data-aos] {
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

[data-aos][data-aos][data-aos-delay="600"],
body[data-aos-delay="600"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="600"].aos-animate,
body[data-aos-delay="600"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

[data-aos][data-aos][data-aos-duration="650"],
body[data-aos-duration="650"] [data-aos] {
  -webkit-transition-duration: 0.65s;
          transition-duration: 0.65s;
}

[data-aos][data-aos][data-aos-delay="650"],
body[data-aos-delay="650"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="650"].aos-animate,
body[data-aos-delay="650"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
}

[data-aos][data-aos][data-aos-duration="700"],
body[data-aos-duration="700"] [data-aos] {
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

[data-aos][data-aos][data-aos-delay="700"],
body[data-aos-delay="700"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="700"].aos-animate,
body[data-aos-delay="700"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

[data-aos][data-aos][data-aos-duration="750"],
body[data-aos-duration="750"] [data-aos] {
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}

[data-aos][data-aos][data-aos-delay="750"],
body[data-aos-delay="750"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="750"].aos-animate,
body[data-aos-delay="750"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

[data-aos][data-aos][data-aos-delay="800"],
body[data-aos-delay="800"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="800"].aos-animate,
body[data-aos-delay="800"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

[data-aos][data-aos][data-aos-duration="850"],
body[data-aos-duration="850"] [data-aos] {
  -webkit-transition-duration: 0.85s;
          transition-duration: 0.85s;
}

[data-aos][data-aos][data-aos-delay="850"],
body[data-aos-delay="850"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="850"].aos-animate,
body[data-aos-delay="850"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.85s;
          transition-delay: 0.85s;
}

[data-aos][data-aos][data-aos-duration="900"],
body[data-aos-duration="900"] [data-aos] {
  -webkit-transition-duration: 0.9s;
          transition-duration: 0.9s;
}

[data-aos][data-aos][data-aos-delay="900"],
body[data-aos-delay="900"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="900"].aos-animate,
body[data-aos-delay="900"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

[data-aos][data-aos][data-aos-duration="950"],
body[data-aos-duration="950"] [data-aos] {
  -webkit-transition-duration: 0.95s;
          transition-duration: 0.95s;
}

[data-aos][data-aos][data-aos-delay="950"],
body[data-aos-delay="950"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="950"].aos-animate,
body[data-aos-delay="950"] [data-aos].aos-animate {
  -webkit-transition-delay: 0.95s;
          transition-delay: 0.95s;
}

[data-aos][data-aos][data-aos-duration="1000"],
body[data-aos-duration="1000"] [data-aos] {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

[data-aos][data-aos][data-aos-delay="1000"],
body[data-aos-delay="1000"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1000"].aos-animate,
body[data-aos-delay="1000"] [data-aos].aos-animate {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

[data-aos][data-aos][data-aos-duration="1050"],
body[data-aos-duration="1050"] [data-aos] {
  -webkit-transition-duration: 1.05s;
          transition-duration: 1.05s;
}

[data-aos][data-aos][data-aos-delay="1050"],
body[data-aos-delay="1050"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1050"].aos-animate,
body[data-aos-delay="1050"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.05s;
          transition-delay: 1.05s;
}

[data-aos][data-aos][data-aos-duration="1100"],
body[data-aos-duration="1100"] [data-aos] {
  -webkit-transition-duration: 1.1s;
          transition-duration: 1.1s;
}

[data-aos][data-aos][data-aos-delay="1100"],
body[data-aos-delay="1100"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1100"].aos-animate,
body[data-aos-delay="1100"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

[data-aos][data-aos][data-aos-duration="1150"],
body[data-aos-duration="1150"] [data-aos] {
  -webkit-transition-duration: 1.15s;
          transition-duration: 1.15s;
}

[data-aos][data-aos][data-aos-delay="1150"],
body[data-aos-delay="1150"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1150"].aos-animate,
body[data-aos-delay="1150"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

[data-aos][data-aos][data-aos-duration="1200"],
body[data-aos-duration="1200"] [data-aos] {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
}

[data-aos][data-aos][data-aos-delay="1200"],
body[data-aos-delay="1200"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1200"].aos-animate,
body[data-aos-delay="1200"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

[data-aos][data-aos][data-aos-duration="1250"],
body[data-aos-duration="1250"] [data-aos] {
  -webkit-transition-duration: 1.25s;
          transition-duration: 1.25s;
}

[data-aos][data-aos][data-aos-delay="1250"],
body[data-aos-delay="1250"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1250"].aos-animate,
body[data-aos-delay="1250"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}

[data-aos][data-aos][data-aos-duration="1300"],
body[data-aos-duration="1300"] [data-aos] {
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

[data-aos][data-aos][data-aos-delay="1300"],
body[data-aos-delay="1300"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1300"].aos-animate,
body[data-aos-delay="1300"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

[data-aos][data-aos][data-aos-duration="1350"],
body[data-aos-duration="1350"] [data-aos] {
  -webkit-transition-duration: 1.35s;
          transition-duration: 1.35s;
}

[data-aos][data-aos][data-aos-delay="1350"],
body[data-aos-delay="1350"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1350"].aos-animate,
body[data-aos-delay="1350"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.35s;
          transition-delay: 1.35s;
}

[data-aos][data-aos][data-aos-duration="1400"],
body[data-aos-duration="1400"] [data-aos] {
  -webkit-transition-duration: 1.4s;
          transition-duration: 1.4s;
}

[data-aos][data-aos][data-aos-delay="1400"],
body[data-aos-delay="1400"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1400"].aos-animate,
body[data-aos-delay="1400"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

[data-aos][data-aos][data-aos-duration="1450"],
body[data-aos-duration="1450"] [data-aos] {
  -webkit-transition-duration: 1.45s;
          transition-duration: 1.45s;
}

[data-aos][data-aos][data-aos-delay="1450"],
body[data-aos-delay="1450"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1450"].aos-animate,
body[data-aos-delay="1450"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.45s;
          transition-delay: 1.45s;
}

[data-aos][data-aos][data-aos-duration="1500"],
body[data-aos-duration="1500"] [data-aos] {
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
}

[data-aos][data-aos][data-aos-delay="1500"],
body[data-aos-delay="1500"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1500"].aos-animate,
body[data-aos-delay="1500"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

[data-aos][data-aos][data-aos-duration="1550"],
body[data-aos-duration="1550"] [data-aos] {
  -webkit-transition-duration: 1.55s;
          transition-duration: 1.55s;
}

[data-aos][data-aos][data-aos-delay="1550"],
body[data-aos-delay="1550"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1550"].aos-animate,
body[data-aos-delay="1550"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.55s;
          transition-delay: 1.55s;
}

[data-aos][data-aos][data-aos-duration="1600"],
body[data-aos-duration="1600"] [data-aos] {
  -webkit-transition-duration: 1.6s;
          transition-duration: 1.6s;
}

[data-aos][data-aos][data-aos-delay="1600"],
body[data-aos-delay="1600"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1600"].aos-animate,
body[data-aos-delay="1600"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

[data-aos][data-aos][data-aos-duration="1650"],
body[data-aos-duration="1650"] [data-aos] {
  -webkit-transition-duration: 1.65s;
          transition-duration: 1.65s;
}

[data-aos][data-aos][data-aos-delay="1650"],
body[data-aos-delay="1650"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1650"].aos-animate,
body[data-aos-delay="1650"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.65s;
          transition-delay: 1.65s;
}

[data-aos][data-aos][data-aos-duration="1700"],
body[data-aos-duration="1700"] [data-aos] {
  -webkit-transition-duration: 1.7s;
          transition-duration: 1.7s;
}

[data-aos][data-aos][data-aos-delay="1700"],
body[data-aos-delay="1700"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1700"].aos-animate,
body[data-aos-delay="1700"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.7s;
          transition-delay: 1.7s;
}

[data-aos][data-aos][data-aos-duration="1750"],
body[data-aos-duration="1750"] [data-aos] {
  -webkit-transition-duration: 1.75s;
          transition-duration: 1.75s;
}

[data-aos][data-aos][data-aos-delay="1750"],
body[data-aos-delay="1750"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1750"].aos-animate,
body[data-aos-delay="1750"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.75s;
          transition-delay: 1.75s;
}

[data-aos][data-aos][data-aos-duration="1800"],
body[data-aos-duration="1800"] [data-aos] {
  -webkit-transition-duration: 1.8s;
          transition-duration: 1.8s;
}

[data-aos][data-aos][data-aos-delay="1800"],
body[data-aos-delay="1800"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1800"].aos-animate,
body[data-aos-delay="1800"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.8s;
          transition-delay: 1.8s;
}

[data-aos][data-aos][data-aos-duration="1850"],
body[data-aos-duration="1850"] [data-aos] {
  -webkit-transition-duration: 1.85s;
          transition-duration: 1.85s;
}

[data-aos][data-aos][data-aos-delay="1850"],
body[data-aos-delay="1850"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1850"].aos-animate,
body[data-aos-delay="1850"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.85s;
          transition-delay: 1.85s;
}

[data-aos][data-aos][data-aos-duration="1900"],
body[data-aos-duration="1900"] [data-aos] {
  -webkit-transition-duration: 1.9s;
          transition-duration: 1.9s;
}

[data-aos][data-aos][data-aos-delay="1900"],
body[data-aos-delay="1900"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1900"].aos-animate,
body[data-aos-delay="1900"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.9s;
          transition-delay: 1.9s;
}

[data-aos][data-aos][data-aos-duration="1950"],
body[data-aos-duration="1950"] [data-aos] {
  -webkit-transition-duration: 1.95s;
          transition-duration: 1.95s;
}

[data-aos][data-aos][data-aos-delay="1950"],
body[data-aos-delay="1950"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="1950"].aos-animate,
body[data-aos-delay="1950"] [data-aos].aos-animate {
  -webkit-transition-delay: 1.95s;
          transition-delay: 1.95s;
}

[data-aos][data-aos][data-aos-duration="2000"],
body[data-aos-duration="2000"] [data-aos] {
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

[data-aos][data-aos][data-aos-delay="2000"],
body[data-aos-delay="2000"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2000"].aos-animate,
body[data-aos-delay="2000"] [data-aos].aos-animate {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}

[data-aos][data-aos][data-aos-duration="2050"],
body[data-aos-duration="2050"] [data-aos] {
  -webkit-transition-duration: 2.05s;
          transition-duration: 2.05s;
}

[data-aos][data-aos][data-aos-delay="2050"],
body[data-aos-delay="2050"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2050"].aos-animate,
body[data-aos-delay="2050"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.05s;
          transition-delay: 2.05s;
}

[data-aos][data-aos][data-aos-duration="2100"],
body[data-aos-duration="2100"] [data-aos] {
  -webkit-transition-duration: 2.1s;
          transition-duration: 2.1s;
}

[data-aos][data-aos][data-aos-delay="2100"],
body[data-aos-delay="2100"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2100"].aos-animate,
body[data-aos-delay="2100"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.1s;
          transition-delay: 2.1s;
}

[data-aos][data-aos][data-aos-duration="2150"],
body[data-aos-duration="2150"] [data-aos] {
  -webkit-transition-duration: 2.15s;
          transition-duration: 2.15s;
}

[data-aos][data-aos][data-aos-delay="2150"],
body[data-aos-delay="2150"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2150"].aos-animate,
body[data-aos-delay="2150"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.15s;
          transition-delay: 2.15s;
}

[data-aos][data-aos][data-aos-duration="2200"],
body[data-aos-duration="2200"] [data-aos] {
  -webkit-transition-duration: 2.2s;
          transition-duration: 2.2s;
}

[data-aos][data-aos][data-aos-delay="2200"],
body[data-aos-delay="2200"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2200"].aos-animate,
body[data-aos-delay="2200"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.2s;
          transition-delay: 2.2s;
}

[data-aos][data-aos][data-aos-duration="2250"],
body[data-aos-duration="2250"] [data-aos] {
  -webkit-transition-duration: 2.25s;
          transition-duration: 2.25s;
}

[data-aos][data-aos][data-aos-delay="2250"],
body[data-aos-delay="2250"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2250"].aos-animate,
body[data-aos-delay="2250"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.25s;
          transition-delay: 2.25s;
}

[data-aos][data-aos][data-aos-duration="2300"],
body[data-aos-duration="2300"] [data-aos] {
  -webkit-transition-duration: 2.3s;
          transition-duration: 2.3s;
}

[data-aos][data-aos][data-aos-delay="2300"],
body[data-aos-delay="2300"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2300"].aos-animate,
body[data-aos-delay="2300"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.3s;
          transition-delay: 2.3s;
}

[data-aos][data-aos][data-aos-duration="2350"],
body[data-aos-duration="2350"] [data-aos] {
  -webkit-transition-duration: 2.35s;
          transition-duration: 2.35s;
}

[data-aos][data-aos][data-aos-delay="2350"],
body[data-aos-delay="2350"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2350"].aos-animate,
body[data-aos-delay="2350"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.35s;
          transition-delay: 2.35s;
}

[data-aos][data-aos][data-aos-duration="2400"],
body[data-aos-duration="2400"] [data-aos] {
  -webkit-transition-duration: 2.4s;
          transition-duration: 2.4s;
}

[data-aos][data-aos][data-aos-delay="2400"],
body[data-aos-delay="2400"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2400"].aos-animate,
body[data-aos-delay="2400"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.4s;
          transition-delay: 2.4s;
}

[data-aos][data-aos][data-aos-duration="2450"],
body[data-aos-duration="2450"] [data-aos] {
  -webkit-transition-duration: 2.45s;
          transition-duration: 2.45s;
}

[data-aos][data-aos][data-aos-delay="2450"],
body[data-aos-delay="2450"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2450"].aos-animate,
body[data-aos-delay="2450"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.45s;
          transition-delay: 2.45s;
}

[data-aos][data-aos][data-aos-duration="2500"],
body[data-aos-duration="2500"] [data-aos] {
  -webkit-transition-duration: 2.5s;
          transition-duration: 2.5s;
}

[data-aos][data-aos][data-aos-delay="2500"],
body[data-aos-delay="2500"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2500"].aos-animate,
body[data-aos-delay="2500"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}

[data-aos][data-aos][data-aos-duration="2550"],
body[data-aos-duration="2550"] [data-aos] {
  -webkit-transition-duration: 2.55s;
          transition-duration: 2.55s;
}

[data-aos][data-aos][data-aos-delay="2550"],
body[data-aos-delay="2550"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2550"].aos-animate,
body[data-aos-delay="2550"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.55s;
          transition-delay: 2.55s;
}

[data-aos][data-aos][data-aos-duration="2600"],
body[data-aos-duration="2600"] [data-aos] {
  -webkit-transition-duration: 2.6s;
          transition-duration: 2.6s;
}

[data-aos][data-aos][data-aos-delay="2600"],
body[data-aos-delay="2600"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2600"].aos-animate,
body[data-aos-delay="2600"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.6s;
          transition-delay: 2.6s;
}

[data-aos][data-aos][data-aos-duration="2650"],
body[data-aos-duration="2650"] [data-aos] {
  -webkit-transition-duration: 2.65s;
          transition-duration: 2.65s;
}

[data-aos][data-aos][data-aos-delay="2650"],
body[data-aos-delay="2650"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2650"].aos-animate,
body[data-aos-delay="2650"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.65s;
          transition-delay: 2.65s;
}

[data-aos][data-aos][data-aos-duration="2700"],
body[data-aos-duration="2700"] [data-aos] {
  -webkit-transition-duration: 2.7s;
          transition-duration: 2.7s;
}

[data-aos][data-aos][data-aos-delay="2700"],
body[data-aos-delay="2700"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2700"].aos-animate,
body[data-aos-delay="2700"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.7s;
          transition-delay: 2.7s;
}

[data-aos][data-aos][data-aos-duration="2750"],
body[data-aos-duration="2750"] [data-aos] {
  -webkit-transition-duration: 2.75s;
          transition-duration: 2.75s;
}

[data-aos][data-aos][data-aos-delay="2750"],
body[data-aos-delay="2750"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2750"].aos-animate,
body[data-aos-delay="2750"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.75s;
          transition-delay: 2.75s;
}

[data-aos][data-aos][data-aos-duration="2800"],
body[data-aos-duration="2800"] [data-aos] {
  -webkit-transition-duration: 2.8s;
          transition-duration: 2.8s;
}

[data-aos][data-aos][data-aos-delay="2800"],
body[data-aos-delay="2800"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2800"].aos-animate,
body[data-aos-delay="2800"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.8s;
          transition-delay: 2.8s;
}

[data-aos][data-aos][data-aos-duration="2850"],
body[data-aos-duration="2850"] [data-aos] {
  -webkit-transition-duration: 2.85s;
          transition-duration: 2.85s;
}

[data-aos][data-aos][data-aos-delay="2850"],
body[data-aos-delay="2850"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2850"].aos-animate,
body[data-aos-delay="2850"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.85s;
          transition-delay: 2.85s;
}

[data-aos][data-aos][data-aos-duration="2900"],
body[data-aos-duration="2900"] [data-aos] {
  -webkit-transition-duration: 2.9s;
          transition-duration: 2.9s;
}

[data-aos][data-aos][data-aos-delay="2900"],
body[data-aos-delay="2900"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2900"].aos-animate,
body[data-aos-delay="2900"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.9s;
          transition-delay: 2.9s;
}

[data-aos][data-aos][data-aos-duration="2950"],
body[data-aos-duration="2950"] [data-aos] {
  -webkit-transition-duration: 2.95s;
          transition-duration: 2.95s;
}

[data-aos][data-aos][data-aos-delay="2950"],
body[data-aos-delay="2950"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="2950"].aos-animate,
body[data-aos-delay="2950"] [data-aos].aos-animate {
  -webkit-transition-delay: 2.95s;
          transition-delay: 2.95s;
}

[data-aos][data-aos][data-aos-duration="3000"],
body[data-aos-duration="3000"] [data-aos] {
  -webkit-transition-duration: 3s;
          transition-duration: 3s;
}

[data-aos][data-aos][data-aos-delay="3000"],
body[data-aos-delay="3000"] [data-aos] {
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="3000"].aos-animate,
body[data-aos-delay="3000"] [data-aos].aos-animate {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}

[data-aos][data-aos][data-aos-easing="linear"],
body[data-aos-easing="linear"] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
          transition-timing-function: cubic-bezier(0.25, 0.25, 0.75, 0.75);
}

[data-aos][data-aos][data-aos-easing="ease"],
body[data-aos-easing="ease"] [data-aos] {
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

[data-aos][data-aos][data-aos-easing="ease-in"],
body[data-aos-easing="ease-in"] [data-aos] {
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

[data-aos][data-aos][data-aos-easing="ease-out"],
body[data-aos-easing="ease-out"] [data-aos] {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

[data-aos][data-aos][data-aos-easing="ease-in-out"],
body[data-aos-easing="ease-in-out"] [data-aos] {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

[data-aos][data-aos][data-aos-easing="ease-in-back"],
body[data-aos-easing="ease-in-back"] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
          transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

[data-aos][data-aos][data-aos-easing="ease-out-back"],
body[data-aos-easing="ease-out-back"] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

[data-aos][data-aos][data-aos-easing="ease-in-out-back"],
body[data-aos-easing="ease-in-out-back"] [data-aos] {
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
          transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

[data-aos^="fade"][data-aos^="fade"] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}

[data-aos^="fade"][data-aos^="fade"].aos-animate {
  opacity: 1;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

[data-aos="fade-up"] {
  -webkit-transform: translate3d(0, 100px, 0);
          transform: translate3d(0, 100px, 0);
}

[data-aos="fade-down"] {
  -webkit-transform: translate3d(0, -100px, 0);
          transform: translate3d(0, -100px, 0);
}

[data-aos="fade-right"] {
  -webkit-transform: translate3d(-100px, 0, 0);
          transform: translate3d(-100px, 0, 0);
}

[data-aos="fade-left"] {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

h1 {
  line-height: 200px;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  color: #004c77;
  font-family: "Titan One", cursive;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
}

.banner {
  height: 90vh;
  width: 100%;
  background-color: #004c77;
}

.butter {
  position: relative;
  height: 200px;
  width: 100%;
  background-color: #f9d555;
  border-radius: 0 0 100px 100px;
}

.butter-melt {
  position: absolute;
  width: 30px;
  height: 200px;
  bottom: -80px;
  left: 12%;
  border-radius: 12px 12px 20px 20px;
  background-color: #f9d555;
  -webkit-box-shadow: -72px -20px 0 5px #f9d555, 40px -50px #f9d555, -34px 100px 0 4px #004c77;
          box-shadow: -72px -20px 0 5px #f9d555, 40px -50px #f9d555, -34px 100px 0 4px #004c77;
}

.butter-melt:nth-child(2) {
  width: 20px;
  left: 28%;
  bottom: -60px;
  border-radius: 12px 12px 20px 20px;
  background-color: #f9d555;
  -webkit-box-shadow: 46px -20px 0 5px #f9d555, 20px 130px 0 1px #004c77;
          box-shadow: 46px -20px 0 5px #f9d555, 20px 130px 0 1px #004c77;
}

.butter-melt:nth-child(3) {
  width: 20px;
  left: 55%;
  bottom: -60px;
  border-radius: 12px 12px 20px 20px;
  background-color: #f9d555;
  -webkit-box-shadow: -72px -20px 0 5px #f9d555, 40px -30px #f9d555, 70px 30px 0 4px #f9d555, -34px 140px 0 14px #004c77;
          box-shadow: -72px -20px 0 5px #f9d555, 40px -30px #f9d555, 70px 30px 0 4px #f9d555, -34px 140px 0 14px #004c77;
}

.butter-melt:nth-child(4) {
  width: 20px;
  left: 88%;
  bottom: -60px;
  border-radius: 12px 12px 20px 20px;
  background-color: #f9d555;
  -webkit-box-shadow: 50px -20px 0 5px #f9d555, -30px 20px 0 -3px #f9d555, 22px 130px 0 4px #004c77;
          box-shadow: 50px -20px 0 5px #f9d555, -30px 20px 0 -3px #f9d555, 22px 130px 0 4px #004c77;
}

.butter-melt:nth-child(2)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-animation: drop 3s linear infinite;
          animation: drop 3s linear infinite;
}

.butter-melt:nth-child(3)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-animation: drop 3s -2s linear infinite;
          animation: drop 3s -2s linear infinite;
}

.butter-melt:nth-child(4)::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
  -webkit-animation: drop 3s -4s linear infinite;
          animation: drop 3s -4s linear infinite;
}

@-webkit-keyframes drop {
  0% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    -webkit-box-shadow: 0px 800px 0 2px #f9d555;
            box-shadow: 0px 800px 0 2px #f9d555;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
  }
  100% {
    -webkit-box-shadow: 0px 850px 0 2px #f9d555;
            box-shadow: 0px 850px 0 2px #f9d555;
    height: 20px;
    opacity: 0;
  }
}

@keyframes drop {
  0% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    -webkit-box-shadow: 0px 800px 0 2px #f9d555;
            box-shadow: 0px 800px 0 2px #f9d555;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
  }
  100% {
    -webkit-box-shadow: 0px 850px 0 2px #f9d555;
            box-shadow: 0px 850px 0 2px #f9d555;
    height: 20px;
    opacity: 0;
  }
}

@-webkit-keyframes drop2 {
  0% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    -webkit-box-shadow: 0px 700px 0 2px #f9d555;
            box-shadow: 0px 700px 0 2px #f9d555;
    height: 40px;
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0px 700px 0 2px #f9d555;
            box-shadow: 0px 700px 0 2px #f9d555;
    height: 20px;
  }
}

@keyframes drop2 {
  0% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    -webkit-box-shadow: 0px 180px 0 2px #f9d555;
            box-shadow: 0px 180px 0 2px #f9d555;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    -webkit-box-shadow: 0px 700px 0 2px #f9d555;
            box-shadow: 0px 700px 0 2px #f9d555;
    height: 40px;
    border-radius: 50%;
  }
  100% {
    -webkit-box-shadow: 0px 700px 0 2px #f9d555;
            box-shadow: 0px 700px 0 2px #f9d555;
    height: 20px;
  }
}

@-webkit-keyframes solid1 {
  to {
    bottom: -120px;
  }
}

@keyframes solid1 {
  to {
    bottom: -120px;
  }
}

@-webkit-keyframes circle1 {
  to {
    bottom: -400px;
    width: 16px;
    height: 70px;
  }
}

@keyframes circle1 {
  to {
    bottom: -400px;
    width: 16px;
    height: 70px;
  }
}

.cat {
  position: absolute;
  left: 65%;
  -webkit-transform: translateX(-50%) scale(1.2);
          transform: translateX(-50%) scale(1.2);
  bottom: 50px;
  -webkit-animation: cat-move 1s infinite alternate;
          animation: cat-move 1s infinite alternate;
}

.cat-face {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: #f9d555;
  border-radius: 200px 200px;
  bottom: 100px;
  z-index: 1;
  -webkit-box-shadow: inset -16px 0 #d8b541;
          box-shadow: inset -16px 0 #d8b541;
}

.cat-ear {
  border-style: solid;
  border-width: 0 100px 80px 50px;
  border-color: transparent transparent #f9d555 transparent;
  position: absolute;
  z-index: -2;
  top: -50px;
  left: 50px;
}

.cat-ear:before {
  content: "";
  border-style: solid;
  border-width: 0 30px 30px 10px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  left: -10px;
  top: 20px;
}

.cat .cat-ear + .cat-ear {
  left: 220px;
  border-width: 0 80px 80px 40px;
}

.cat-eye {
  width: 16px;
  height: 16px;
  background-color: #004c77;
  border-radius: 50%;
  position: absolute;
  top: 120px;
  left: 230px;
  -webkit-animation: cat-eye 4s infinite;
          animation: cat-eye 4s infinite;
}

.cat .cat-eye + .cat-eye {
  left: 190px;
}

.cat-nose {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 12px 0 12px;
  border-color: #004c77 transparent transparent transparent;
  position: absolute;
  top: 150px;
  left: 208px;
}

.cat-whiskers-item {
  position: absolute;
  width: 90px;
  height: 10px;
  left: 50px;
  top: 120px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
  background-color: #004c77;
  border-radius: 20px 20px;
}

.cat .cat-whiskers-item + .cat-whiskers-item {
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  top: 160px;
}

.cat .cat-whiskers-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  left: 420px;
  top: 290px;
}

.cat-body {
  width: 750px;
  height: 250px;
  background-color: #f9d555;
  position: absolute;
  right: 80px;
  bottom: 0;
  border-radius: 40% 100px 10% 0%/100% 50% 30% 0%;
  -webkit-box-shadow: inset -10px 0 #d8b541;
          box-shadow: inset -10px 0 #d8b541;
}

.cat svg,
.cat .cat-tail {
  position: absolute;
  left: -500px;
  top: -250px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-animation: cat-tail 1s infinite alternate;
          animation: cat-tail 1s infinite alternate;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes cat-move {
  to {
    margin-bottom: 3px;
  }
}

@keyframes cat-move {
  to {
    margin-bottom: 3px;
  }
}

@-webkit-keyframes cat-eye {
  from,
  to {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    width: 16px;
    height: 16px;
  }
  50%,
  55% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    width: 18px;
    height: 5px;
    margin-top: 6px;
    border-radius: 20px 20px;
  }
}

@keyframes cat-eye {
  from,
  to {
    -webkit-animation-timing-function: step-end;
            animation-timing-function: step-end;
    width: 16px;
    height: 16px;
  }
  50%,
  55% {
    -webkit-animation-timing-function: step-start;
            animation-timing-function: step-start;
    width: 18px;
    height: 5px;
    margin-top: 6px;
    border-radius: 20px 20px;
  }
}

@-webkit-keyframes cat-tail {
  to {
    d: path("M20,100 Q100,50 150,300 Q200,500 200,500");
  }
}

@keyframes cat-tail {
  to {
    d: path("M20,100 Q100,50 150,300 Q200,500 200,500");
  }
}

.table {
  overflow: hidden;
  width: 100%;
  background-color: #f9d555;
  -webkit-box-shadow: inset 0 50px #d8b541;
          box-shadow: inset 0 50px #d8b541;
  position: relative;
  top: 0;
  z-index: 0;
  padding: 120px 0;
}

.table .detail {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.table .detail img {
  margin-right: 16px;
}

.table .detail p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.25rem;
  font-weight: 700;
}

.question {
  padding: 150px 0 250px;
  overflow: hidden;
}

.question h3 {
  font-family: "Titan One", cursive;
  font-size: 6rem;
  color: #004c77;
  position: absolute;
  bottom: 10px;
  opacity: 0.5;
}

.question .card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 120px 100px 0;
  position: relative;
}

.question .card-list::after {
  content: "";
  width: 150px;
  height: 150px;
  position: absolute;
  background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
  left: -100px;
  bottom: -50px;
  border-radius: 50%;
  z-index: -1;
  opacity: 0.8;
}

.question .card-list .card-item {
  width: 330px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-top: #fff solid 1px;
  border-left: #fff solid 1px;
}

.question .card-list p {
  font-size: 10rem;
  font-weight: 700;
  color: white;
}

.scroll {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: normal;
  font-size: 6rem;
  padding: 30px 0;
  font-weight: 900;
  color: #f9d555;
  background-color: #111;
  white-space: nowrap;
  font-family: "Titan One", cursive;
}

.scroll div {
  -webkit-animation: scroll-ani 40s -40s linear infinite;
          animation: scroll-ani 40s -40s linear infinite;
}

.scroll span {
  color: #fff;
}

.scroll + .scroll {
  position: absolute;
  bottom: 0;
}

@-webkit-keyframes scroll-ani {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes scroll-ani {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.scroll div:nth-child(2) {
  -webkit-animation: scroll-ani2 40s -20s linear infinite;
          animation: scroll-ani2 40s -20s linear infinite;
}

@-webkit-keyframes scroll-ani2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

@keyframes scroll-ani2 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
}

.zdog-canvas {
  background-color: #004c77;
  display: block;
  width: 100%;
}

.happen {
  padding-top: 100px;
  padding-bottom: 300px;
}

.happen .detail {
  margin-top: 100px;
}

.happen span {
  display: block;
  margin-top: 50px;
}

.result {
  background-color: #f9d555;
  padding: 100px 0;
}

.result p + p {
  margin-top: 16px;
}

footer {
  background-color: #333;
  padding: 24px 0;
}

footer p {
  font-size: 0.8rem;
}
/*# sourceMappingURL=all.css.map */