h1 {
  position: relative;
  z-index: 10;
  line-height: 200px;
  font-size: 6rem;
  text-transform: uppercase;
  color: $blue;
}

@include pad {
  h1 {
    font-size: 4rem;
  }
}

@include mobile {
  h1 {
    text-align: center;
    font-size: 3rem;
    line-height: 1;
    padding: 50px 0;
  }
}

@media screen and (max-width: 400px) {
  h1 {
    padding: 30px 0;
  }
}

.banner {
  @include size(100%, 90vh);
  background-color: $blue;
  position: relative;
}

@include pad {
  .banner {
    @include size(100%, 700px);
  }
}

@include mobile {
  .banner {
    @include size(100%, 500px);
  }
}

.butter {
  position: relative;
  @include size(100%, 200px);
  background-color: $yellow;
  border-radius: 0 0 100px 100px;
  &-melt {
    position: absolute;
    bottom: -80px;
    left: 12%;
    @include size(30px, 200px);
    background-color: $yellow;
    border-radius: 12px 12px 20px 20px;
    box-shadow: -72px -20px 0 5px $yellow, 40px -50px $yellow,
      -34px 100px 0 4px $blue;
    &:nth-child(2) {
      width: 20px;
      left: 28%;
      bottom: -60px;
      box-shadow: 46px -20px 0 5px $yellow, 20px 130px 0 1px $blue;
    }
    &:nth-child(3) {
      width: 20px;
      left: 55%;
      bottom: -60px;
      box-shadow: -72px -20px 0 5px $yellow, 40px -30px $yellow,
        70px 30px 0 4px $yellow, -34px 140px 0 14px $blue;
    }
    &:nth-child(4) {
      width: 20px;
      left: 88%;
      bottom: -60px;
      box-shadow: 50px -20px 0 5px $yellow, -30px 20px 0 -3px $yellow,
        22px 130px 0 4px $blue;
    }
  }
  &-melt:nth-child(2)::before {
    content: "";
    @include size(10px);
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-20%);
    animation: drop 3s linear infinite;
  }
  &-melt:nth-child(3)::before {
    content: "";
    @include size(10px);
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-20%);
    animation: drop 3s -2s linear infinite;
  }
  &-melt:nth-child(4)::before {
    content: "";
    @include size(10px);
    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translateX(-20%);
    animation: drop 3s -4s linear infinite;
  }
}

@keyframes drop {
  0% {
    box-shadow: 0px 180px 0 2px $yellow;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    box-shadow: 0px 180px 0 2px $yellow;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    box-shadow: 0px 800px 0 2px $yellow;
    height: 40px;
    border-radius: 50%;
    opacity: 1;
  }
  100% {
    box-shadow: 0px 850px 0 2px $yellow;
    height: 20px;
    opacity: 0;
  }
}

@keyframes drop2 {
  0% {
    box-shadow: 0px 180px 0 2px $yellow;
    height: 20px;
    border-radius: 20% 30% 50%;
  }
  50% {
    box-shadow: 0px 180px 0 2px $yellow;
    height: 30px;
    border-radius: 20% 30% 50%;
  }
  80% {
    box-shadow: 0px 700px 0 2px $yellow;
    height: 40px;
    border-radius: 50%;
  }
  100% {
    box-shadow: 0px 700px 0 2px $yellow;
    height: 20px;
  }
}

@include pad {
  .butter {
    border-radius: 0;
    &-melt {
      box-shadow: -72px -20px 0 5px $yellow, -34px 100px 0 4px $blue;
      &:nth-child(2) {
        box-shadow: 46px -20px 0 5px $yellow;
      }
      &:nth-child(3) {
        box-shadow: -72px -20px 0 5px $yellow, 40px -30px $yellow,
          -34px 140px 0 14px $blue;
      }
      &:nth-child(4) {
        box-shadow: 50px -20px 0 5px $yellow, 22px 130px 0 4px $blue;
      }
    }
  }
}

@include mobile {
  .butter {
    @include size(100%, 150px);
    border-radius: 0;
    &-melt {
      box-shadow: -72px -20px 0 5px $yellow, -34px 110px 0 4px $blue;
      &:nth-child(2) {
        width: 20px;
        left: 28%;
        bottom: -60px;
        box-shadow: none;
      }
      &:nth-child(3) {
        width: 20px;
        left: 55%;
        bottom: -60px;
        box-shadow: 40px -30px $yellow;
      }
      &:nth-child(4) {
        width: 20px;
        left: 88%;
        bottom: -60px;
        box-shadow: 50px -20px 0 5px $yellow, 22px 130px 0 4px $blue;
      }
    }
  }
}

.cat {
  position: absolute;
  left: 65%;
  bottom: 0px;
  transform: translateX(-50%) scale(1.2);
  animation: cat-move 1s infinite alternate;
  &-face {
    position: relative;
    bottom: 100px;
    z-index: 1;
    @include size(400px, 250px);
    background-color: $yellow;
    box-shadow: inset -16px 0 rgba($dark-yellow, 1);
    border-radius: 200px 200px;
  }
  &-ear {
    position: absolute;
    top: -50px;
    left: 50px;
    z-index: -2;
    border-style: solid;
    border-width: 0 100px 80px 50px;
    border-color: transparent transparent $yellow transparent;
    &:before {
      content: "";
      position: absolute;
      left: -10px;
      top: 20px;
      border-style: solid;
      border-width: 0 30px 30px 10px;
      border-color: transparent transparent $white transparent;
    }
  }
  .cat-ear + .cat-ear {
    left: 220px;
    border-width: 0 80px 80px 40px;
  }
  &-eye {
    position: absolute;
    top: 120px;
    left: 230px;
    @include size(16px);
    background-color: $blue;
    border-radius: 50%;
    animation: cat-eye 4s infinite;
  }
  .cat-eye + .cat-eye {
    left: 190px;
  }
  &-nose {
    position: absolute;
    top: 150px;
    left: 208px;
    border-style: solid;
    border-width: 20px 12px 0 12px;
    border-color: $blue transparent transparent transparent;
  }
  &-whiskers {
    &-item {
      position: absolute;
      left: 50px;
      top: 120px;
      @include size(90px, 10px);
      transform: rotate(10deg);
      background-color: $blue;
      border-radius: 20px 20px;
    }
  }
  .cat-whiskers-item + .cat-whiskers-item {
    top: 160px;
    transform: rotate(-10deg);
  }
  .cat-whiskers-right {
    position: absolute;
    left: 420px;
    top: 290px;
    transform: rotate(180deg);
  }
  &-body {
    position: absolute;
    right: 80px;
    bottom: 0;
    @include size(750px, 250px);
    background-color: $yellow;
    border-radius: 40% 100px 10% 0%/100% 50% 30% 0%;
    box-shadow: inset -10px 0 rgba($dark-yellow, 1);
  }
  svg,
  .cat-tail {
    position: absolute;
    left: -500px;
    top: -250px;
    transition: 0.2s;
    animation: cat-tail 1s infinite alternate;
    transform: scale(0.9);
  }
}

@keyframes cat-move {
  to {
    margin-bottom: -3px;
  }
}
@keyframes cat-eye {
  from,
  to {
    animation-timing-function: step-end;
    @include size(16px);
  }
  50%,
  55% {
    animation-timing-function: step-start;
    @include size(18px, 5px);
    margin-top: 6px;
    border-radius: 20px 20px;
  }
}

@keyframes cat-tail {
  to {
    d: path("M20,100 Q100,50 150,300 Q200,500 200,500");
  }
}

@media screen and (max-width: 1440px) {
  .cat {
    left: 50%;
    transform: scale(1);
    bottom: -30px;
  }
}

@include pad {
  .cat {
    left: 50%;
    transform: scale(0.8);
    bottom: -30px;
  }
}

@include mobile {
  .cat {
    left: 20%;
    transform: scale(0.5);
    bottom: calc(-30px * 3);
  }
}

// @media screen and (max-width: 400px) {
//   .cat {
//     left: 20%;
//     transform: scale(0.45);
//     bottom: 0px;
//   }
// }

.table {
  position: relative;
  top: 0;
  z-index: 0;
  width: 100%;
  padding: 120px 0;
  background-color: $yellow;
  box-shadow: inset 0 50px rgba(#d8b541, 1);
  .detail {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 48px;
    img {
      margin-right: 16px;
    }
    p {
      display: flex;
      align-items: center;
      flex: 1;
    }
  }
}

@include mobile {
  .table {
    .detail {
      flex-direction: column;
      gap: 24px;
      p {
        width: 100%;
      }
    }
  }
}

.question {
  padding: 150px 0 250px;
  pointer-events: none;
  h3 {
    position: absolute;
    bottom: 50px;
    font-size: 4rem;
    color: $blue;
    opacity: 0.7;
  }
  .card-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 120px 100px 0;
    &::before {
      content: "";
      @include size(150px);
      position: absolute;
      right: -100px;
      top: 100px;
      z-index: -1;
      background: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
      border-radius: 50%;
      opacity: 0.5;
    }
    &::after {
      content: "";
      @include size(300px);
      position: absolute;
      left: -200px;
      bottom: -50px;
      z-index: -1;
      background: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
      border-radius: 50%;
      opacity: 0.8;
    }
    .card-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      @include size(330px, 450px);
      padding: 100px 0;
      background-color: rgba($white, 0.82);
      border-radius: 20px;
      backdrop-filter: blur(3px);
      // border-top: $white solid 1px;
      // border-left: $white solid 1px;
      box-shadow: 0 0 0 5px white, 0 0 0 12px rgba($yellow, 0.8);
    }
    p {
      font-size: 10rem;
    }
  }
}

@include pad {
  .question {
    padding: 100px 0;
    .card-list {
      margin: 100px 16px;
      flex-direction: column;
      &::before {
        right: 0;
        top: -100px;
      }
      &::after {
        content: "";
        @include size(300px);
        position: absolute;
        left: 0px;
        bottom: -200px;
        z-index: -1;
        background: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
        border-radius: 50%;
        opacity: 0.8;
      }
      .card-item {
        @include size(300px, 420px);
      }
    }
  }
}

@include mobile {
  .question {
    .card-list {
      margin: 120px 16px;
      flex-direction: column;
      &::before {
        right: 0;
        top: -100px;
      }
      &::after {
        content: "";
        @include size(200px);
        position: absolute;
        left: 0px;
        bottom: -100px;
        z-index: -1;
        background: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
        border-radius: 50%;
        opacity: 0.8;
      }
      .card-item {
        @include size(250px, 350px);
        padding-top: 80px;
      }
      img {
        width: 60%;
      }
      p {
        font-size: 5rem;
      }
    }
  }
}

.what {
  // background-color: $black;
  overflow: hidden;
  padding: 200px 0;
  clip-path: polygon(
    24.7% 34%,
    70.2% 25.8%,
    75% 62.8%,
    43.8% 68%,
    37.4% 78.8%,
    37.2% 68.8%,
    29.8% 70.5%
  );
  background-color: $yellow;
  transition: 1s;
  p {
    transform: rotate(-10deg);
    margin-left: 100px;
    font-size: 8rem;
    line-height: 1;
    font-family: "Titan One", cursive;
    transition: 0.5s;
    color: $blue;
    text-transform: uppercase;
  }
}

.what-differ {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 100%,
    67.9% 100%,
    40.8% 100%,
    18.8% 100%,
    0% 100%
  );
}
.whatText-differ {
  transform: rotate(20deg) !important;
  text-shadow: 8px 8px 0 orange;
}

@include pad {
  .what {
    // clip-path: polygon(
    //   0% 0%,
    //   100% 0%,
    //   100% 100%,
    //   67.9% 100%,
    //   40.8% 100%,
    //   18.8% 100%,
    //   0% 100%
    // );
    p {
      transform: rotate(-5deg);
      font-size: 5em;
    }
  }
}

@include mobile {
  .what {
    margin: 0;
    padding: 100px 0;
    overflow: hidden;
    // clip-path: polygon(
    //   0% 0%,
    //   100% 0%,
    //   100% 100%,
    //   67.9% 100%,
    //   40.8% 100%,
    //   18.8% 100%,
    //   0% 100%
    // );
    .container {
      padding: 0;
    }
    p {
      width: 100px;
      margin: 0;
      font-size: 3.5rem;
      // white-space: nowrap;
    }
  }
}
// .scroll {
//   display: flex;
//   font-size: 6rem;
//   font-weight: 900;
//   color: $yellow;
//   background-color: $black;
//   white-space: nowrap;
//   overflow: hidden;
// }

// .scroll div {
//   animation: scroll-ani 40s -40s linear infinite;
// }

// .scroll span {
//   color: $white;
// }

// .scroll + .scroll {
//   position: absolute;
//   bottom: 0;
// }

// @keyframes scroll-ani {
//   0% {
//     -webkit-transform: translateX(100%);
//     transform: translateX(100%);
//   }
//   100% {
//     -webkit-transform: translateX(-100%);
//     transform: translateX(-100%);
//   }
// }

// .scroll div:nth-child(2) {
//   animation: scroll-ani2 40s -20s linear infinite;
// }

// @keyframes scroll-ani2 {
//   0% {
//     transform: translateX(0);
//   }
//   100% {
//     transform: translateX(-200%);
//   }
// }

.zdog-canvas {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $blue;
  margin: 60px 0;
}

@include pad {
  .zdog-canvas {
    height: 800px;
  }
}

@include pad {
  .zdog-canvas {
    margin-top: 100px;
    height: 600px;
  }
}

.happen {
  background-color: $blue;
  padding-top: 100px;
  padding-bottom: 300px;
  .detail {
    margin-top: 100px;
  }
}

@include pad {
  .happen {
    background-color: $blue;
    padding-top: 100px;
    padding-bottom: 150px;
    .detail {
      margin-top: 100px;
      margin-bottom: 60px;
    }
  }
}

.result {
  background-color: $yellow;
  // outline: 1px solid $blue;
  .container {
    padding: 100px 0 150px;
    position: relative;
    z-index: 1;
    background: url(/img/cat_paw.png), url(/img/cicle.png);
    background-repeat: no-repeat;
    background-position: right -200px;
    background-size: 50%;
    animation: paw-move 1s infinite alternate, none;
    &::before {
      content: "";
      width: 400px;
      height: 400px;
      position: relative;
      background-color: #fff;
      z-index: 10;
      background-color: lighten($yellow, 20%);
      border-radius: 50%;
      right: 150px;
    }
  }
  .title {
    margin-bottom: 100px;
  }
  h2,
  h2 + p {
    width: 40%;
  }
  p + p {
    margin-top: 16px;
  }
  &-text {
    position: absolute;
    font-size: 1.1rem;
    color: $blue;
    right: 50px;
    bottom: 80px;
    transform: rotate(-10deg);
    animation: shock-ani 1s infinite alternate ease-in;
  }
}

@keyframes paw-move {
  to {
    background-position: 90% -220px, right -200px;
  }
}

@keyframes shock-ani {
  20% {
    transform: translateX(0px) translateY(0) rotate(-10deg);
  }
  70% {
    transform: translateX(-20px) translateY(0) rotate(-30deg);
  }
  100% {
    transform: translateX(-20px) translateY(0) rotate(-30deg);
  }
}

@include pad {
  .result {
    .container {
      padding: 100px 16px 150px;
    }
    h2 {
      margin-top: 200px;
    }
    h2,
    h2 + p {
      width: 100%;
    }
  }
}

@include mobile {
  .result {
    background-color: $yellow;
    // outline: 1px solid $blue;
    .container {
      background-position: right -100px;
      background-size: 80%;
      animation: paw-move 1s infinite alternate, none;
    }
    .title {
      margin-bottom: 20px;
    }
    img {
      display: block;
      margin: 0 auto;
    }
    img + img {
      width: 50%;
    }
    &-text {
      right: 10px;
      font-size: 0.85rem;
    }
  }
  @keyframes paw-move {
    to {
      background-position: right -100px;
    }
  }
}

// * {
//   outline: solid 1px;
// }
