.container {
  max-width: 1140px;
  margin: 0 auto;
}

.title-1 {
  font-size: 2rem;
  font-weight: 700;
}

.text-blue {
  color: $blue;
}

.text-yellow {
  color: $yellow;
}

.text-c {
  text-align: center;
}
