$yellow: #f9d555;
$blue: #004c77;
$white: #fff;
$black: #111;

$font-m: 16px;
$font-l: $font-m * 1.5;
$font-xl: $font-l * 1.5;

$font-family-english: "Titan One, cursive";
$font-family-chinese: "Titan One, cursive";

$spacer: 16px;
