.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 16px;
  @include mobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container-s {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 16px;
}

footer {
  background-color: $black;
  padding: 24px 0;
  .container {
    display: flex;
    justify-content: space-between;
  }
  p {
    font-size: 0.8rem;
  }
}

@include mobile {
  p + p {
    margin-top: 20px;
  }
}

//font-family
.font-eng {
  font-family: $font-family-eng;
}

//font-size
.title-1 {
  font-size: 3rem;
  @include pad {
    font-size: 2.5rem;
  }
  @include mobile {
    font-size: 2rem;
  }
}

.title-2 {
  font-size: 2.5rem;
  @include pad {
    font-size: 2rem;
  }
  @include mobile {
    font-size: 1.5rem;
  }
}

.title-3 {
  font-size: 2rem;
}

//font-weight
.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 700;
}

.text-heavy {
  font-weight: 900;
}

//font-color
.text-blue {
  color: $blue;
}

.text-white {
  color: #fafafa;
}

.text-yellow {
  color: $yellow;
}

//layout
.text-c {
  text-align: center;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-4 {
  margin-bottom: 32px;
}
