*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
}

body,
html {
  overflow-x: hidden;
}

body {
  background-color: $blue;
  line-height: 1.5;
  color: $black;
  font-family: $font-family-chi;
}

p {
  // pointer-events: none;
  font-size: 1.3rem;
}

@include pad {
  p {
    font-size: 1rem;
  }
}
